<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.roger.makecoffee">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MakeCoffee"
        android:allowBackup="true"
        android:icon="@mipmap/coffee_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/coffee_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true">
        <activity
            android:name=".makecoffeeactivity.MakeCoffeeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".loginactivity.LoginActivity"></activity>
    </application>

</manifest>